# 临时文件与系统杂项
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
scratch/

.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# IDE 配置 (IntelliJ / Android Studio)
*.iml
*.ipr
*.iws
.idea/

# VS Code 本地配置（如需团队共享 launch/tasks 可取消注释）
#.vscode/

# Flutter / Dart 产物及缓存
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# 崩溃堆栈还原符号表
app.*.symbols

# 代码混淆 mapping 文件
app.*.map.json

# Android 原生构建产物
/android/app/debug
/android/app/profile
/android/app/release

# 鸿蒙 DevEco Studio 编译缓存
ohos/.hvigor/
ohos/.idea/
ohos/oh_modules/
ohos/entry/.preview/
ohos/entry/build/
ohos/entry/oh_modules/
**/oh_modules/
**/.preview/
**/.hvigor/
